.container{
    box-shadow: 0 0 10px black;
    font-family: "Garamond, serif", cursive;
}

.home{
    height: 100vh;
}

.login_button{
    background-color: #a36926;
    font-size: 3vw;
    text-align: center;
}

.login_button:hover{
    background-color: saddlebrown;
}

.login_button:active{
    background-color: chocolate;
}

.login_body a{
    color: white;
    text-decoration: none;
    text-align: center;
}

.gallery_img {
    max-width:100%;
    min-height:100px;
}
.gallery_img_div {
    max-height:145px;
    overflow:hidden;
}

