.container{
    box-shadow: 0 0 10px black;
    font-family: "Garamond, serif", cursive;
}

.home{
    height: 100vh;
}

.login_button{
    background-color: #a36926;
    font-size: 3vw;
    text-align: center;
}

.login_button:hover{
    background-color: saddlebrown;
}

.login_button:active{
    background-color: chocolate;
}

.login_body a{
    color: white;
    text-decoration: none;
    text-align: center;
}

.gallery_img {
    max-width:100%;
    min-height:100px;
}
.gallery_img_div {
    max-height:145px;
    overflow:hidden;
}

.contest_photo{
    max-width: 1800px;
}

.w-80 {
    width: 80% !important;
}

.w-85 {
    width: 85% !important;
}

.w-90 {
    width: 90% !important;
}

.carousel-caption{
-webkit-text-stroke-width: 2px;
-webkit-text-stroke-color: black;
bottom: 10%;
    opacity: 60%;
}

.max-height-90{
    max-height: 90vh;
}

.max-width-100{
    max-width: 100vw;
}

.carousel-control-prev, .carousel-control-next{
    opacity: 0.2;
}

